my_basics {
  display: inline-block;
  text-align: center;
}

h3.name {
  text-align: center;
  margin-left: 25%;
}

.author-social {
  font-size: 1.5rem;
}


.author_list_paper {
  font-size: 90%
}

.venue {
  font-size: 90%
}

.class_project_class{
  font-family: 'FontAwesome';
}

.class_project_title {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

.right-align-nav {
  /* float: right; */
  margin-left: 35%;
}

/* DROPDOWN */

/* .dropdown .dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

*/
.dropdown-content {
  display: none;
  width: 10%;
  float: right;
  margin-right: 25%;
  background-color: white;
  padding: 1% 1%;

}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}


.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  float: right;
  right: -6%;
  background-color: white;

}
