my_basics {
  display: inline-block;
  text-align: center;
}

h3.name {
  text-align: center;
  margin-left: 25%;
}

.author-social {
  font-size: 1.5rem;
}


.author_list_paper {
  font-size: 90%
}

.venue {
  font-size: 90%
}

.class_project_class{
  font-family: 'FontAwesome';
}

.class_project_title {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

.right-align-nav {
  /* float: right; */
  margin-left: 35%;
}
